---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col items-center justify-center min-h-screen py-20">
    <div class="w-full max-w-2xl px-4 -mt-20">
      <h1 class="text-4xl font-poppins-semibold text-center mb-8">Contact Us</h1>
      <form 
      	action="https://formsubmit.co/hello@slickhex.com"
        method="POST"
        class="space-y-6 bg-white p-8 rounded-xl shadow-lg"
      >
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
		  <div>
			<label for="firstName" class="block text-sm font-poppins text-gray-700">First Name *</label>
			<input 
			  type="text" 
			  id="firstName" 
			  name="firstName" 
			  required 
			  class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary"
			/>
		  </div>
		  <div>
			<label for="lastName" class="block text-sm font-poppins text-gray-700">Last Name *</label>
			<input 
			  type="text" 
			  id="lastName" 
			  name="lastName" 
			  required 
			  class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary"
			/>
		  </div>
		</div>
		<div>
		  <label for="email" class="block text-sm font-poppins text-gray-700">Email Address *</label>
		  <input 
			type="email" 
			id="email" 
			name="email" 
			required 
			class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary"
		  />
		</div>

		<div>
		  <label for="company" class="block text-sm font-poppins text-gray-700">Company (optional)</label>
		  <input 
			type="text" 
			id="company" 
			name="company" 
			class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary"
		  />
		</div>

		<div>
		  <label for="subject" class="block text-sm font-poppins text-gray-700">Subject *</label>
		  <input 
			type="text" 
			id="subject" 
			name="subject" 
			required 
			class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary"
		  />
		</div>
		<div>
          <label for="message" class="block text-sm font-poppins text-gray-700">Message *</label>
          <textarea 
            id="message" 
            name="message" 
            rows="4" 
            required 
            placeholder="Type your message here..."
            class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary"
          ></textarea>
        </div>
		<div class="flex justify-center">
		  <input type="hidden" name="_autoresponse" value="Thank you for contacting Slick Hex. We'll get back to you soon." />
		  <input type="hidden" name="_captcha" value="true" />
		  <input type="hidden" name="url" value="" />
		  <input type="hidden" name="_next" value="https://slickhex.com/thank-you" />
          <button 
            type="submit"
            class="bg-primary text-white px-8 py-3 rounded-md hover:bg-primary/90 hover:scale-105 transition-colors duration-200 font-poppins"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </main>
  <Footer data={data.footerData} />
</Layout>