---
import Background from "@/components/Background.astro";
import type { Meta } from "@/config/landing.interface";
import "@fontsource-variable/rubik";

interface Props {
  meta: Meta;
}

const { meta } = Astro.props;

const ldJson = JSON.stringify(meta.ldJson);
---

<!doctype html>
<html
  class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
  lang={meta.lang ?? "en"}
>
  <head>
    <meta charset={meta.charset ?? "UTF-8"} />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/logo_only.svg" />
    <link rel="canonical" href={import.meta.env.SITE} />
    <script type="application/ld+json" set:html={ldJson} />
  </head>
  <body class="bg-white">
    <Background />
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Azonix";
    src: url("/fonts/Azonix.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family:
      "Rubik Variable",
      Monaco,
      Menlo,
      "Lucida Console",
      "Liberation Mono",
      "DejaVu Sans Mono",
      "Bitstream Vera Sans Mono",
      "Courier New",
      monospace;
  }

  .font-monaco {
    font-family: Monaco, "Lucida Console", monospace;
  }

  .font-azonix {
    font-family: "Azonix", sans-serif;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-poppins-italic {
    font-family: "Poppins", sans-serif;
    font-style: italic;
  }

  .font-poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
</style>
